<% layout("layouts/boilerplate") %>

<div class="container mt-5">
  <div class="alert alert-danger p-4 rounded border border-danger">
    <h1 class="text-danger">Error</h1>
    <p class="mb-0"><%= message %></p>
  </div>
</div>